body {
    background-color: white;
}

* {
    box-sizing: border-box;
  }

h1 {
    font-family: arial, verdana, sans-serif;
}

h2 {
    font-family: arial, verdana, sans-serif;
}

h3 {
    font-family: verdana, sans-serif;
}

p {
    font-family: verdana, sans-serif;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color:black;
}

li {
    list-style-type: none;
}


img {
    max-width: 100%;
    height: auto;
}

/*Main Page Style*/

.main-fig {
    background-color: #EBEBEB;
    margin: 0px;
    border: solid black 1px;
}

.main-info-h {
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.main-info-p {
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
    line-height: 21px;
    padding-left: 20px;
    padding-right: 20px;
}

.news-div {
    background-color: #EBEBEB;
    border: solid black 1px;
    padding-left: 0px;
}

.news-div {
    text-align: center;
    padding-top: 1px;
}

.Visit-header {
    text-align: center;
    margin-top: 50px;
}


.footer-link:hover {
    text-decoration: underline;
    color: black;
}



/*School styling here*/

.school-text {
    text-align: center;
}

/*media queries here*/

@media only screen and (min-width:991px) {
    .hamburger-label {
        display: none;
    }

    .top-menu {
        display: flex;
    }

    #hamburger-menu {
        display: none;
    }

    .top-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .navelement1 {
        order: 2;
        background-color: white;
        align-self: center;
        padding: 10px;
        font-family: Arial, verdana, sans-serif;
    }

    .navelement2 {
        background-color: white;
        padding: 10px;
        font-size: 16px;
        font-family: Arial, verdana, sans-serif;
    }

    .navelement2:hover {
        text-decoration: underline;
    }

    .nav-button2 {
        background-color: #F2A20C;
        padding: 10px;
    }
       
    .footer-nav {
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 0px;
        padding-right: 0px;
    }

/*main page styling*/

    .main-fig {
        margin: 0px 10%;
    }

    .explore-icons-container {
        margin: 0px 10%;
    }

    .news-div {
        margin: 0px 10%;
        padding: 30px;
        display: grid;
        grid-template-columns: 32% auto 32% auto 32%;
        grid-template-rows: auto auto;
    }

    .news-header {
        grid-column: 1/6;
    }

    .news-div-1 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .news-div-2 {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    
    .news-div-3 {
        grid-row: 2/3;
        grid-column: 5/6;
    }

    .Visit-div {
        margin: 0px 10%;
    }

    .explore-icons-container {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .media-icons {
        border-radius: 50%;
        max-width: 100px;
        border: solid black 1px;
    }
    
    .explore-icons {
        display: flex;
        text-align: center;
    }
    
    .icon-text {
        display: flex;
        align-items: center;
    
    }    

    /*exhibits styling here*/

    .exhibits-div {
        margin: 0px 10%;
        display: grid;
        grid-template-columns: 48% auto 48%;
        grid-template-rows: auto auto auto;
    }

    .exhibit-header {
        grid-column: 1/4;
        text-align: center;
    }

    .exhibits-div-1 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .exhibits-div-2 {
        grid-row: 2/3;
        grid-column: 3/4;
    }

    .exhibits-div-3 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .exhibits-div-4 {
        grid-row: 3/4;
        grid-column: 3/4;
    }


}





@media only screen and (min-width:600px) and (max-width:990px) {
    .top-menu {
        display: none;
    }
    
    #hamburger-menu {
        display: none;
    }
    
    #hamburger-menu:checked ~ .top-menu {
        display: grid;
        grid-row: 2/3;
        grid-column: 1/4;
        padding-left: 0px;
    }
    
    .hamburger-label {
        color: black;
        grid-column: 3/4;
        align-self: center;
    }
    
    .top-navigation {
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: auto auto;    
    }
    
    .logo {
        grid-column: 1/2;
        align-self: center;
        padding-left: 6px;
        padding-bottom: 10px;
        padding-top: 5px;
    }
    
    .navelement1 {
        background-color: #EBEBEB;
        display: flex;
        justify-content: center;
        border:  solid black 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navelement2 {
        background-color: #EBEBEB;
        display: flex;
        justify-content: center;
        border:  solid black 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
        margin-top: 5px;
        font-family: verdana, sans-serif;
    }
      
    .footer-nav {
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

        /*Main styling*/

    .media-icons {
            border-radius: 50%;
            max-width: 100px;
            border: solid black 1px;
    }
        
    .explore-icons {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto auto;
    }
        
    .icon-text {
            padding-left: 20px;
            display: flex;
            align-items: center;
        
    }    

}

@media only screen and (min-width:360px) and (max-width:599px) {
    .top-menu {
        display: none;
    }
    
    #hamburger-menu {
        display: none;
    }
    
    #hamburger-menu:checked ~ .top-menu {
        display: grid;
        grid-row: 2/3;
        grid-column: 1/4;
        padding-left: 0px;
    }
    
    .hamburger-label {
        color: black;
        grid-column: 3/4;
        align-self: center;
        font-weight: bold;
    }
    
    .top-navigation {
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: auto auto;    
    }
    
    .logo {
        grid-column: 1/2;
        align-self: center;
        padding-left: 6px;
        padding-bottom: 10px;
        padding-top: 5px;
    }
    
    .navelement1 {
        background-color: #EBEBEB;
        display: flex;
        justify-content: center;
        border:  solid black 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navelement2 {
        background-color: #EBEBEB;
        display: flex;
        justify-content: center;
        border:  solid black 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
        margin-top: 5px;
        font-family: verdana, sans-serif;
    }
       
    .footer-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    }

    /*Main styling*/

    .main-info-h {
        padding-top: 14px;
    }

    .main-info-p {
        font-weight: bold;
    }

    .media-icons {
        border-radius: 50%;
        max-width: 100px;
        border: solid black 1px;
    }
    
    .explore-icons {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;
    }
    
    .icon-text {
        padding-left: 20px;
        display: flex;
        align-items: center;
        line-height: 21px;
    }    

    .news-p {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 21px;
    }

    .visit-h {
        margin-left: 10px;
    }

    .visit-p {
        line-height: 21px;
        margin-left: 10px;
    }

    /*exhibits styling*/

    .exhibit-header {
        text-align: center;
    }

    .exhibit-h {
        padding-left: 10px;
    }

    /*work styling*/

    .school-text {
        margin-left: 10px;
        margin-right: 10px;
    }

    /*About styling*/

    .about-top {
        text-align: center;
        padding: 0px 30px;
    }

    .about-main {
        text-align: center;
        padding: 0px 30px;
    }

    .contact-legend {
        text-align: center;
    }

    .contact-field {
        display: flex;
        flex-direction: column;
        border: none;
        font-weight: bold;
    }

    .form-input {
        margin-bottom: 10px;
    }

}