body {
    background-color: white;
}

* {
    box-sizing: border-box;
  }

h1 {
    font-family: arial, verdana, sans-serif;
    font-size: 40px;
}

h2 {
    font-family: arial, verdana, sans-serif;
}

h3 {
    font-family: verdana, sans-serif;
}

p {
    font-family: verdana, sans-serif;
    line-height: 30px;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
  
a:visited {
    text-decoration: none;
    color:black;
}

li {
    list-style-type: none;
}


img {
    max-width: 100%;
    height: auto;
}

.footer-link:hover {
    text-decoration: underline;
    color: black;
}

.footer-nav {
    background-color: #EBEBEB;
    padding: 10px;
    border: solid black 1px;
}

.footer-link-school {
    padding-left: 10px;
}
.copy-foot {
    text-align: center;
}

/*Main Page Style*/

.main-fig {
    background-color: #EBEBEB;
    margin: 0px;
    border: solid black 1px;
}

.main-info-h {
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.main-info-p {
    margin-top: 0px;
    font-size: 16px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.explore-h {
    padding-left: 40px;
    padding-top: 60px;
}

.icon-text {
    line-height: 30px;
}

.news-div {
    background-color: #EBEBEB;
    border: solid black 1px;
    padding-left: 0px;
    padding-top: 1px;
}

.news-header {
    padding-left: 10px;
}

.news-header2 {
    padding-left: 10px;
}

.news-p {
    padding-left: 10px;
    padding-right: 10px;
}

.Visit-header {
    text-align: center;
    margin-top: 50px;
}

.visit-h {
    padding-top: 20px;
    margin-left: 10px;
}

.visit-p {
    line-height: 30px;
    margin-left: 10px;
}

.visit-time-div {
    background-color: #EBEBEB;
    border: solid black 1px;
}

.visit-h-hours {
    padding-left: 10px;
}

.news-header2 {
    padding-top: 15px;
}

/*Exhibit styling here*/

.exhibit-h {
    padding-top: 20px;
}

/*school styling*/

.school-text {
    margin-left: 10px;
    margin-right: 10px;
}

.school-h {
    padding-top: 20px;
    padding-left: 10px;
}

.school-p {
    padding-left: 10px;
}

/*work styling*/

.work-text {
    padding-left: 20px;
    padding-right: 20px;
}

.support-h {
    padding-top: 20px;
}

/*media queries here*/

@media only screen and (min-width:991px) {
    .hamburger-label {
        display: none;
    }

    .top-menu {
        display: flex;
    }

    #hamburger-menu {
        display: none;
    }

    .top-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 10%;
        margin-right: 10%;
    }

    #search {
        display: none;
    }

    .navelement1 {
        order: 2;
        background-color: white;
        align-self: center;
        padding: 10px;
        font-family: Arial, verdana, sans-serif;
    }

    .navelement2 {
        background-color: white;
        padding: 10px;
        font-size: 16px;
        font-family: Arial, verdana, sans-serif;
    }

    .navelement2:hover {
        text-decoration: underline;
    }

    .nav-button2 {
        background-color: #F2A20C;
        padding: 10px;
    }
       
    .nav-button2:hover {
        background-color: #F65B01;
        text-decoration: none;
    }

    .footer-nav {
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        padding-left: 10px;
        padding-right: 10px;
    }

/*main page styling*/

    .main-fig {
        margin: 0px 10%;
    }

    .explore-icons-container {
        margin: 0px 10%;
    }

    .main-info-h {
        padding-left: 50px;
    }

    .main-info-p {
        max-width: 70ch;
        padding-left: 50px;
    }

    .explore-h {
        text-align: center;
    }

    .explore-icons-container {
        display: grid;
        grid-template-columns: 35% 33% 32%;
        grid-template-rows: auto auto auto;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .explore-icons {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .media-icons {
        border-radius: 50%;
        max-width: 100px;
        border: solid #F2A20C 5px;
    }  

    .media-icons:hover {
        border: solid #F65B01;
    }

    .icon-text {
        text-align: center;
    }



    .news-div {
        margin: 0px 10%;
        padding: 30px;
        display: grid;
        grid-template-columns: 32% auto 32% auto 32%;
        grid-template-rows: auto auto;
    }

    .news-header {
        grid-column: 1/6;
        padding-left: 0px;
    }

    .news-header2 {
        padding-left: 0px;
    }

    .news-p {
        padding-left: 0px;
        max-width: 35ch;
    }

    .news-div-1 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .news-div-2 {
        grid-row: 2/3;
        grid-column: 3/4;
    }
    
    .news-div-3 {
        grid-row: 2/3;
        grid-column: 5/6;
    }

    .Visit-div {
        margin: 0px 10%;
    }

   .visit-h {
        padding-left: 0px;
    } 

    .visit-p {
        padding-left: 0px;
        max-width: 70ch;
    } 




    /*exhibits styling here*/

    .exhibits-div {
        margin: 0px 10%;
        display: grid;
        grid-template-columns: 48% auto 48%;
        grid-template-rows: auto auto auto;
    }

    .exhibit-header {
        grid-column: 1/4;
        text-align: center;
        font-size: 35px;
        padding-top: 40px;
    }

    .exhibit-h {
        padding-left: 20px;
    }

    .exhibit-p {
        padding-left: 20px;
        max-width: 30ch;
    }

    .exhibits-div-1 {
        grid-row: 2/3;
        grid-column: 1/2;
        border: solid black 1px;
        background-color: #EBEBEB;
        margin-bottom: 25px;
    }

    .exhibits-div-2 {
        grid-row: 2/3;
        grid-column: 3/4;
        border: solid black 1px;
        background-color: #EBEBEB;
        margin-bottom: 25px;
    }

    .exhibits-div-3 {
        grid-row: 3/4;
        grid-column: 1/2;
        border: solid black 1px;
        background-color: #EBEBEB;
        margin-bottom: 10px;
    }

    .exhibits-div-4 {
        grid-row: 3/4;
        grid-column: 3/4;
        border: solid black 1px;
        background-color: #EBEBEB;
        margin-bottom: 10px;
    }

    /*Educational styling here*/

    .school-text {
        display: grid;
        grid-template-columns: 48% auto 48%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: start;
        line-height: 21px;
    }

    .school-text-1 {
        grid-column: 1/2;
        padding-left: 10px;
    }

    .school-text-2 {
        grid-column: 3/4;
    }

    .school-p {
        max-width: 40ch;
    }

    /*work styling here*/

    .work-text {
        display: grid;
        grid-template-columns: 30% auto 30% auto 30%;
        margin-left: 10%;
        margin-right: 10%;
        text-align: start;
        line-height: 21px;
    }

    .work-text-1 {
        grid-column: 1/2;
    }

    .work-text-2 {
        grid-column: 3/4;
    }
    
    .work-text-3 {
        grid-column: 5/6;
    }

    /*About styling here*/

    .about {
        display: grid;
        grid-template-columns: auto 30%;
        grid-template-rows: auto auto auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    .about-top {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .about-p {
        font-size: 24px;
        max-width: 50ch;
    }

    .about-main {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .contact-form-frame {
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: #EBEBEB;
        padding-top: 10px;
    }

    .contact-field {
        display: flex;
        flex-direction: column;
        border: none;
        font-weight: bold;
    }

}


@media only screen and (min-width:600px) and (max-width:990px) {
    .top-menu {
        display: none;
    }
    
    #hamburger-menu {
        display: none;
    }
    
    #hamburger-menu:checked ~ .top-menu {
        display: grid;
        grid-row: 2/3;
        grid-column: 1/4;
        padding-left: 0px;
    }
    
    .hamburger-label {
        color: black;
        grid-column: 3/4;
        align-self: center;
        font-weight: bold;
    }
    
    .top-navigation {
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: auto auto;    
    }
    
    .logo {
        grid-column: 1/2;
        align-self: center;
        padding-left: 6px;
        padding-bottom: 10px;
        padding-top: 5px;
    }
    
    .navelement1 {
        background-color: #EBEBEB;
        display: flex;
        justify-content: center;
        border:  solid black 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navelement2 {
        background-color: #EBEBEB;
        display: flex;
        justify-content: center;
        border:  solid black 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
        margin-top: 5px;
        font-family: verdana, sans-serif;
    }
      
    .footer-nav {
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

        /*Main styling*/

    .main-info-p {
        max-width: 50ch;
    }

    .news-p {
        max-width: 50ch;
    }

    .visit-p {
        max-width: 50ch;
    }

    .media-icons {
        border-radius: 50%;
        max-width: 100px;
        border: solid #F2A20C 5px;
    }  
    
    .media-icons:hover {
        border: solid #F65B01;
    }
    
    .explore-icons-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .explore-icons {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto auto;
    }
        
    .icon-text {
            padding-left: 20px;
            display: flex;
            align-items: center;
        
    }    

    /*exhibits styling*/

    .exhibit-header {
        text-align: start;
        font-size: 35px;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .exhibit-h {
        padding-left: 10px;
    }

    .exhibit-p {
        padding-left: 10px;
        max-width: 50ch;
    }

    /*School styling*/

    .school-p {
        max-width: 50ch;
    }

    /*Work styling*/

    .work-p {
        max-width: 50ch;
    }

    /*About styling*/

    .about-top {
        padding: 0px 30px;
    }

    .about-main {
        padding: 0px 30px;
    }

    .about-p {
        max-width: 50ch;
    }

    .contact-legend {
        text-align: center;
    }

    .contact-field {
        display: flex;
        flex-direction: column;
        border: none;
        font-weight: bold;
    }

    .form-input {
        margin-bottom: 10px;
    }

}

@media only screen and (min-width:200px) and (max-width:599px) {
    .top-menu {
        display: none;
    }
    
    #hamburger-menu {
        display: none;
    }
    
    #hamburger-menu:checked ~ .top-menu {
        display: grid;
        grid-row: 2/3;
        grid-column: 1/4;
        padding-left: 0px;
    }
    
    .hamburger-label {
        color: black;
        grid-column: 3/4;
        align-self: center;
        font-weight: bold;
    }
    
    .top-navigation {
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-rows: auto auto;    
    }
    
    .logo {
        grid-column: 1/2;
        align-self: center;
        padding-left: 6px;
        padding-bottom: 10px;
        padding-top: 5px;
    }
    
    .navelement1 {
        background-color: #EBEBEB;
        display: flex;
        justify-content: center;
        border:  solid black 3px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navelement2 {
        background-color: #EBEBEB;
        display: flex;
        justify-content: center;
        border:  solid black 3px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
        margin-top: 5px;
        font-family: verdana, sans-serif;
    }
       
    .footer-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    }

    /*Main styling*/

    .main-info-h {
        padding-top: 20px;
    }

    .main-info-p {
        max-width: 40ch;
    }

    .media-icons {
        border-radius: 50%;
        max-width: 100px;
        border: solid #F2A20C 5px;
    }  
    
    .news-p {
        max-width: 40ch;
    }

    .visit-p {
        max-width: 40ch;
    }

    .media-icons:hover {
        border: solid #F65B01;
    }
    
    .explore-icons-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .explore-icons {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;
        padding-bottom: 30px;
    }
    
    .icon-text {
        padding-left: 20px;
        display: flex;
        line-height: 30px;
    }    

    /*exhibits styling*/

    .exhibit-header {
        text-align: start;
        font-size: 35px;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .exhibit-h {
        padding-left: 10px;
    }

    .exhibit-p {
        padding-left: 10px;
        max-width: 40ch;
    }

    /*School styling*/

    .school-p {
        max-width: 40ch;
    }

    /*Work styling*/

    .work-p {
        max-width: 40ch;
    }

    /*About styling*/

    .about-p {
        max-width: 35ch;
    }

    .about-top {
        padding: 0px 30px;
    }

    .about-main {
        padding: 0px 30px;
    }

    .contact-legend {
        text-align: center;
    }

    .contact-field {
        display: flex;
        flex-direction: column;
        border: none;
        font-weight: bold;
    }

    .form-input {
        margin-bottom: 10px;
    }

}